NEXT_PUBLIC_SUPABASE_URL_=postgres://postgres.oozwdgedpjfsdisdbfcpqx:89e465LBEm83AVu9VZ@aws-1-us-east-1.pooler.supabase.com:6543/postgres
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9venjffkZ2VkcHNkaXNkYmZjcHF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMDExOTQsImV4cCI6MjA4Nzg3NzE5NH0.NVvBam5w7hicMObrFtObOb_OeOX9qIfIopziEkYnhNA
VITE_GEMINI_API_KEY=google/gemini-2.5-flash-image
